VIZOSO, María Alejandra - DNI: 160837708 - mavizoso@gmail.com
DATA ANALYTICS CON PYTHON - COMISION: 25262
Miércoles de 20 a 22 hs

1. Crear un documento en Google Colaboratory y cargar los sets de datos como DataFrames.
*   En primer lugar voy a montar mi google drive
*   A continuación voy a importar los datasets como dataframe

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df_ventas = pd.read_csv('/content/drive/MyDrive/datasets/ventas.csv', encoding='utf-8')
df_clientes = pd.read_csv('/content/drive/MyDrive/datasets/clientes.csv', encoding='utf-8')
df_marketing = pd.read_csv('/content/drive/MyDrive/datasets/marketing.csv', encoding='utf-8')

4. Introducción a Pandas: realizar un análisis exploratorio inicial de los DataFrames.

In [ ]:
print("*** Información completa de Ventas ***")
df_ventas.info(verbose=True)
duplicados_ventas = df_ventas.duplicated(keep='first').sum()
print(f"\nCantidad de filas completas duplicadas conservando la primera de ellas: {duplicados_ventas}")
print()
print("*** Información completa de Clientes ***")
df_clientes.info(verbose=True)
duplicados_clientes = df_clientes.duplicated(keep='first').sum()
print(f"\nCantidad de filas completas duplicadas conservando la primera de ellas: {duplicados_clientes}")
print()
print("*** Información completa de Marketing ***")
df_marketing.info(verbose=True)
duplicados_marketing = df_marketing.duplicated(keep='first').sum()
print(f"\nCantidad de filas completas duplicadas conservando la primera de ellas: {duplicados_marketing}")

*** Información completa de Ventas ***
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_venta     3035 non-null   int64
 1   producto     3035 non-null   object
 2   precio       3033 non-null   object
 3   cantidad     3033 non-null   float64
 4   fecha_venta  3035 non-null   object
 5   categoria    3035 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 142.4+ KB

Cantidad de filas completas duplicadas conservando la primera de ellas: 35

*** Información completa de Clientes ***
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_cliente  567 non-null    int64
 1   nombre      567 non-null    object
 2   edad        567 non-null    int64
 3   ciudad      567 non-null    object
 4   ingresos    567 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 22.3+ KB

Cantidad de filas completas duplicadas conservando la primera de ellas: 0

*** Información completa de Marketing ***
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_campanha   90 non-null     int64
 1   producto      90 non-null     object
 2   canal         90 non-null     object
 3   costo         90 non-null     float64
 4   fecha_inicio  90 non-null     object
 5   fecha_fin     90 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.3+ KB

Cantidad de filas completas duplicadas conservando la primera de ellas: 0

5. Calidad de Datos: Identificar valores nulos y duplicados en los conjuntos de datos. Documentar el estado inicial de los datos.

In [ ]:
print("*** Detalle de filas NAN en Ventas ***")
filas_con_nan = df_ventas.isna().any(axis=1)
print(df_ventas.loc[filas_con_nan])
print("*** Detalle de filas nulas en Ventas ***")
filas_nulas = df_ventas.isnull().any(axis=1)
print(df_ventas.loc[filas_nulas])
print()
print("*** Detalle de filas NAN en Clientes ***")
filas_con_nan = df_clientes.isna().any(axis=1)
print(df_clientes.loc[filas_con_nan])
print("*** Detalle de filas nulas en Clientes ***")
filas_nulas = df_clientes.isnull().any(axis=1)
print(df_clientes.loc[filas_nulas])
print()
print("*** Detalle de filas NAN en Marketing ***")
filas_con_nan = df_marketing.isna().any(axis=1)
print(df_marketing.loc[filas_con_nan])
print("*** Detalle de filas nulas en Marketing ***")
filas_nulas = df_marketing.isnull().any(axis=1)
print(df_marketing.loc[filas_nulas])

*** Detalle de filas NAN en Ventas ***
     id_venta               producto precio  cantidad fecha_venta    categoria
136       627  Elementos de cerámica    NaN       NaN  17/01/2024   Decoración
139      2171    Parlantes Bluetooth    NaN       NaN  17/01/2024  Electrónica
*** Detalle de filas nulas en Ventas ***
     id_venta               producto precio  cantidad fecha_venta    categoria
136       627  Elementos de cerámica    NaN       NaN  17/01/2024   Decoración
139      2171    Parlantes Bluetooth    NaN       NaN  17/01/2024  Electrónica

*** Detalle de filas NAN en Clientes ***
Empty DataFrame
Columns: [id_cliente, nombre, edad, ciudad, ingresos]
Index: []
*** Detalle de filas nulas en Clientes ***
Empty DataFrame
Columns: [id_cliente, nombre, edad, ciudad, ingresos]
Index: []

*** Detalle de filas NAN en Marketing ***
Empty DataFrame
Columns: [id_campanha, producto, canal, costo, fecha_inicio, fecha_fin]
Index: []
*** Detalle de filas nulas en Marketing ***
Empty DataFrame
Columns: [id_campanha, producto, canal, costo, fecha_inicio, fecha_fin]
Index: []

1. Limpieza de Datos: Limpiar el conjunto de datos eliminando duplicados y caracteres no deseados. Documentar el proceso y los resultados.


*   Con el fin de poder trabajar, en primer lugar voy a eliminar nulos y duplicados en el único df que los presenta: df_ventas
*   Luego voy a adecuar los tipos de datos para poder trabajar adecuadamente con las columnas que los contienen. En df_ventas es necesario eliminar el signo $ de la columna precio para poder tomarla como float y convertir fecha_venta al formato date. En df_marketing es necesario convertir a fecha fecha_inicio y fecha_fin.

In [ ]:
df_ventas.dropna() #elimino las dos filas con na y me quedan 3033
df_ventasL = df_ventas.drop_duplicates().copy() #elimino las filas duplicadas conservando solo la última, ahora me quedan 3000

In [ ]:
from datetime import datetime
df_ventasL['precio'].astype(str)
df_ventasL['precio'] = df_ventasL['precio'].str.replace('$', '')
df_ventasL['precio'] = df_ventasL['precio'].astype(float)
df_ventasL['fecha_venta'] = pd.to_datetime(df_ventas['fecha_venta'], format='%d/%m/%Y')
print(df_ventasL.dtypes)

id_venta                int64
producto               object
precio                float64
cantidad              float64
fecha_venta    datetime64[ns]
categoria              object
dtype: object

/tmp/ipython-input-3781140772.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ventasL['precio'] = df_ventasL['precio'].str.replace('$', '')
/tmp/ipython-input-3781140772.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ventasL['precio'] = df_ventasL['precio'].astype(float)
/tmp/ipython-input-3781140772.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ventasL['fecha_venta'] = pd.to_datetime(df_ventas['fecha_venta'], format='%d/%m/%Y')

In [ ]:
df_marketing['fecha_inicio'] = pd.to_datetime(df_marketing['fecha_inicio'], format='%d/%m/%Y')
df_marketing['fecha_fin'] = pd.to_datetime(df_marketing['fecha_fin'], format='%d/%m/%Y')
print(df_marketing.dtypes)

id_campanha              int64
producto                object
canal                   object
costo                  float64
fecha_inicio    datetime64[ns]
fecha_fin       datetime64[ns]
dtype: object

2. Transformación de Datos: Aplicar filtros y transformaciones para crear una tabla de ventas que muestre solo los productos con alto rendimiento.
Para este punto y, dado los datos disponibles tomaré como definición de productos de alto rendimiento al 25% que obtuvieron un mayor nivel de ingresos (cantidad por precio) totales.

In [ ]:
productos_df = df_ventasL[['producto', 'cantidad', 'precio']].copy()
productos_df.describe()
productos_df['valor'] = productos_df['cantidad'] * productos_df['precio']
df_totalP = productos_df.groupby('producto', as_index=False)['valor'].sum()
df_totalP = df_totalP.sort_values('valor', ascending=False)
df_totalP.describe()

              valor
count     30.000000
mean   48903.117333
std    13265.561715
min    11128.800000
25%    45601.920000
50%    48140.245000
75%    51092.960000
max    82276.380000

In [ ]:
percentil80 = df_totalP['valor'].quantile(0.8,interpolation='midpoint')
df_totalP_mv0 = df_totalP[df_totalP['valor'] > percentil80]
df_totalP_mv1 = df_totalP_mv0[['producto', 'valor']]
print("Subconjunto final con el 20% superior:")
print(df_totalP_mv1)

Subconjunto final con el 20% superior:
             producto     valor
19    Lámpara de mesa  82276.38
3         Auriculares  74175.58
20         Microondas  72562.89
5            Cafetera  59607.31
9   Cuadro decorativo  54297.60
27         Smartphone  54132.44

3. Agregación: Resumir las ventas por categoría de producto y analizar los ingresos generados.

In [ ]:
categoria_df = df_ventasL[['categoria', 'cantidad', 'precio']].copy()
categoria_df['valor'] = categoria_df['cantidad'] * categoria_df['precio']
total3 = categoria_df['valor'].sum()
categoria_df.sort_values('categoria')

        categoria  cantidad  precio    valor
0      Decoración       5.0   69.94   349.70
2180   Decoración       7.0   45.05   315.35
935    Decoración       7.0   71.03   497.21
934    Decoración       7.0  107.80   754.60
2181   Decoración      11.0  111.41  1225.51
...           ...       ...     ...      ...
981   Electrónica       4.0   43.20   172.80
2129  Electrónica       6.0   32.05   192.30
2128  Electrónica       8.0   80.89   647.12
2126  Electrónica       6.0  116.35   698.10
3034  Electrónica       6.0   55.47   332.82

[3000 rows x 4 columns]

In [ ]:
df_totalC = categoria_df.groupby('categoria', as_index=False)['valor'].sum()
df_totalC = df_totalC.sort_values('valor',ascending=False)
df_totalC['porc'] = df_totalC['valor'] * 100 / total3
df_totalC.head(5)

           categoria      valor       porc
1  Electrodomésticos  505299.63  34.442224
2        Electrónica  482577.80  32.893459
0         Decoración  479216.09  32.664318

4. Integración de Datos: Combinar los sets de datos de ventas y marketing
para obtener una visión más amplia de las tendencias.

In [ ]:
df_VM = pd.merge(df_ventasL, df_marketing, on = "producto", how = "outer")
total_filas_nulas = df_VM.isnull().any(axis=1).sum()
print(total_filas_nulas)

6

In [ ]:
df_con_nulos = df_VM[df_VM.isna().any(axis=1)]
df_con_nulos.head(10)

,id_venta,producto,precio,cantidad,fecha_venta,categoria,id_campanha,canal,costo,fecha_inicio,fecha_fin
3267,627,Elementos de cerámica,NaN,NaN,2024-01-17,Decoración,22,RRSS,5.44,2024-06-26,2024-07-15
3268,627,Elementos de cerámica,NaN,NaN,2024-01-17,Decoración,82,TV,5.69,2024-09-08,2024-10-12
3269,627,Elementos de cerámica,NaN,NaN,2024-01-17,Decoración,52,Email,5.74,2024-09-09,2024-09-30
6432,2171,Parlantes Bluetooth,NaN,NaN,2024-01-17,Electrónica,84,TV,4.42,2024-04-17,2024-05-05
6433,2171,Parlantes Bluetooth,NaN,NaN,2024-01-17,Electrónica,54,Email,2.95,2024-08-09,2024-09-22
6434,2171,Parlantes Bluetooth,NaN,NaN,2024-01-17,Electrónica,24,RRSS,6.00,2024-09-22,2024-10-26

Al integrar con outer obtengo como primera conclución que tengo dos productos que fueron objeto de campañas de marketing y que nunca se vendieron.